<html>
  <head>
    <title> Item {{ item.id }} </title>
  </head>
  <body>
    <h1>Name:{{item.name}}</h1>
    <p>description:{{item.description}}</p>
    <p>price:{{item.price}}</p>
    <button id="buy-button">buy</button>
    <script src="https://js.stripe.com/v3/" type="text/javascript">
      var stripe = Stripe('pk_test_51M5WTOCU9QvBMbZ2JO06WgpEYMJLR30i61xNMjycyqxuId5FRmiCMdlcA8BJOzGwMmEbeqs6IPHkOGDAp37LhFHz00lJdt0mvZ');
      var button = document.getElementById('buy-button');
      button.addEventListener('click', function() => {
        // Create a new Checkout Session using the server-side endpoint
        // Redirect to Stripe Session Checkout
        fetch('/buy/{{item.id}}/', options).then(response => return response.json()).then(session => return Stripe.redirectToCheckout({ sessionId: sessions.id }));
        ))
      });
    </script>
  </body>
</html>
